{
  "extends": "google",
  "parserOptions": {
    "ecmaVersion": 2018,
  },  
  "env": {
      "browser": false,
      "node": true
  },
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "indent": ["error", 4],
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "no-multiple-empty-lines": 0,
    "require-jsdoc": ["warn", {
        "require": {
            "FunctionDeclaration": false,
            "MethodDefinition": false,
            "ClassDeclaration": false,
            "ArrowFunctionExpression": false
        }
    }],     
  }  
}